// GRID SYSTEM

// Grid Containers
@mixin container($columns) {
 display: grid;
 grid-template-columns: repeat($columns, 1fr);
 grid-template-rows: auto;
}

// Grid Columns
@mixin columns($start, $end) {
  grid-column-start: $start;
  grid-column-end: $end;
}
