// Home Page
h1 {
  font-size: 10rem;
}

.wrapper {
  min-height: 500px;
}

.company-profile {
  max-width: 600px;
  margin: auto;
  min-height: 200px;
  margin-top: 40px;
}

.cmd-buttons {
  margin-bottom: 20px;
}
