
// Grid Size
$grid-rows: 6;
$grid-columns: 12;

// Screen Sizes
$mobile-small: 240px;
$mobile-large: 320px;
$tablet-small: 480px;
$tablet-small: 768px;
$desktop-small: 1024px;
$desktop-large: 1280px;
