.background-gradient {
  background: linear-gradient(to bottom right, #36D1DC, #5B86E5);
  min-height: 100vh;
  height: 100%;
}

.company-component {
  max-width: 400px;
  padding-top: 7rem;
}

.controller-buttons {
  margin: 1rem;
}

@media (max-height: 100vh) {
  footer {
    position: absolute !important;
    bottom: 0;
  }
}

footer {
  width: 100%;
}
